 .places__item {
   display: grid;
   grid-template-columns: 460px 1fr;
   grid-gap: 48px 40px;
 }

 .places__item:not(:last-child) {
   margin-bottom: 80px;
 }

 @media (max-width: 1024px) {
   .places__item {
     grid-template-columns: 440px 1fr;
     grid-gap: 48px 32px;
   }
 }

 @media (max-width: 768px) {
   .places__item {
     grid-template-columns: 340px 1fr;
     grid-gap: 48px 28px;
   }
 }

 @media (max-width: 630px) {
   .places__item {
     grid-template-columns: 1fr;
     grid-gap: 32px 0;
   }
 }
